# Eclipse related (and M2e)
.classpath
.project
.settings/
.metadata/
test-output/

# Maven related (and some plugins)
target/
*~
dist
*.ser
*.ec

# Intellij
*.ipr
*.iml
*.iws
.idea
.temp

# Other
.svn/
bin/
bak/
*.log
*.orig
nb-configuration.xml
/pnb/solo-demo-conn/src/main/resources/demo-messages-db.xml
**/overlays
MANIFEST.MF
*.wtpmodules


*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
